@model RentalCarMvcProject.Models.EntityFramework.Brands
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Kaydet", "Brand", FormMethod.Post))
{
 @Html.AntiForgeryToken()

    <div class="form-group" style="font-style:oblique">
        @Html.LabelFor(m => m.BrandName)
        @Html.TextBoxFor(m => m.BrandName)
        @Html.ValidationMessageFor(m => m.BrandName)
    </div>
    @Html.HiddenFor(m => m.BrandId)

    <button type="submit" class="btn btn-success">Kaydet</button>
}

@section Scripts{


    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}