@model RentalCarMvcProject.ViewModels.CarViewModels
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Kaydet", "Car", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group" style="font-style:oblique">

        @Html.LabelFor(m => m.Cars.BrandId)
        @Html.DropDownListFor(m => m.Cars.BrandId, new SelectList(Model.Brands, "BrandId", "BrandName"))
    </div>
    <div class="form-group" style="font-style:oblique">

        @Html.LabelFor(m => m.Cars.ColorId)
        @Html.DropDownListFor(m => m.Cars.ColorId, new SelectList(Model.Colors, "ColorId", "ColorName"))
    </div>
    <div class="form-group" style="font-style:oblique">

        @Html.LabelFor(m => m.Cars.Descriptions)
        @Html.TextBoxFor(m => m.Cars.Descriptions)
    </div>
    <div class="form-group" style="font-style:oblique">

        @Html.LabelFor(m => m.Cars.ModelYear)
        @Html.TextBoxFor(m => m.Cars.ModelYear)
    </div>
    <div class="form-group" style="font-style:oblique">

        @Html.LabelFor(m => m.Cars.DailyPrice)
        @Html.TextBoxFor(m => m.Cars.DailyPrice)
    </div>
    @Html.HiddenFor(m => m.Cars.Id)
    <button type="submit" class="btn btn-success">Kaydet</button>



}
